.MessageBox{
    width: 100%;
    background-color: #eee
}

.MessageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 30px);
}

.AllMessagesBox {
    width: 30%;
    height: calc(100vh - 150px);
    overflow: auto;
    overflow-x: hidden; 
    padding: 5px;
    padding-right: 0;
}

.Message {
    border-radius: 5px;
    box-shadow: 3px 3px 3px 3px #ccc;
    width: 50%;
    height: calc(100vh - 150px);
    margin-left: 15px;
    background-color: white;
    overflow: auto;
}

.Messages {
    border-radius: 5px;;
    width: 90%;
    height: 100px;
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 3px 3px 3px 3px #ccc;
    margin: 3px;
    margin-bottom: 15px;
    background-color: white;
}

.Nickname{
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 0.4px solid #ccc;
    width: calc(100% - 10px);
}

.Subiect{
    text-align: right;
    margin-right: 10px;
    font-size: 1.1rem;
    font-weight: 600;
}

.Content {
    text-align: center;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
}

.EmailInputBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.EmailHintBox{
    position: absolute;
    background-color: #eee;
    width: 80%;
    max-width: 300px;
    top: 220px;
    border-radius: 0 0 10px 10px;
    z-index: 4;
}

@media only screen and (max-width: 810px) {
    .EmailHintBox {
        top: 290px;
        width: 150px;
    }
} 

