.UserProfileContent{
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.UserProfileBox{
    border-radius: 5px;
    box-shadow: 3px 3px 3px 3px #ccc;
    width: 70%;
    max-width: 600px;
    height: 200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.UserProfileBox> div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.UserProfileBox> div > p{
    text-align: left;
    width: 20%;
}

.UserProfileBox> div > div
 {
    width: 60%;
}

.UserProfileBox> div > div>input
 {
    width: 50%;
    border: none;
    border-bottom: 1px solid #00aaff;
}

.UserProfileBox> div > div>input::placeholder {
    color: black;
}

.UserProfileButton > button {
    width: 70%;
    max-width: 180px;
    height: 40px;
    margin-top: 20px;
    background-color: #00aaff;
    border: none;
    border-radius:5px;
    box-shadow: #ccc 0px 10px 10px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.UserProfileButton  > button:disabled{
    background-color: gray;
}
.UserProfileButton  > button:disabled:hover{
    background-color: gray;
    color: white;
    border:none;
    box-shadow: #ccc 0px 10px 10px;
}


.UserProfileButton > button:hover{
    box-shadow: none;
    color: #00aaff;
    background-color: transparent;
    border: 3px solid #00aaff;
}

.UserProfileTitle{
    margin-top: 30px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 3px;
}


