.AllPlansContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.AllPlansBox{
    flex: 1;
    display: flex;
    width: 100%;
    overflow-y: scroll;
    flex-direction: inherit;
    align-items: center;
}

.AllPlansBox > p{
    margin-top: 30px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 3px;
    margin-bottom: 0;
}

.AllPlansBox>a{
    display: flex;
    width: 100%;
    justify-content: center;
    text-decoration: none;
    color: black;
}

.SinglePlan{
    border-radius: 5px;
    box-shadow: 3px 3px 3px 3px #ccc;
    width: 70%;
    height: 450px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: white;
}

.AllPlansTitle{
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 0.4px solid #ccc;
    width: calc(100% - 10px);
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 3px;
}

.AllPlansTitle > svg {
    margin-left: 40px;
    margin-top: 5px;
}

.AllPlansTitle > svg:hover {
    color: red;
}

.AllPlansType{
    font-size: 14px;
    text-align: right;
    color: gray;
    font-style: italic;
    margin-bottom: 10px;
    margin-right: 10px;
}

.AllPlansImage{
    width: 90%;
    height: 300px;
    margin: auto;
}

.AllPlansImage >img{
    width: 500px;
    height: 300px
}

.AllPlansDesc {
    padding: 10px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
    max-width: 900px;
    margin-top: 20px;
}

.NotUserPlan {
    display: none;
}

.AllPlansSearchBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 70%;
}

.AllPlansSearchBox> input{
    height: 40px;
    width: 50%;
    border: 2px solid #00aaff;
    border-radius: 10px;
    box-shadow: 0 10px 10px #ccc;
    font-size: 20px;
    padding: 15px;
    color: black;
}

.SearchButton {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #00aaff;
    box-shadow: 0 10px 10px #ccc;
    margin-left: 10px;
    color: white;
}

.SearchButton>svg{
    font-size: 35px;
}